@model JadooTravel.Dtos.ReservationDtos.CreateReservationDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h3>Rezervasyon Ekle</h3>
    <form method="post">
        <input type="text" asp-for="NameSurname" placeholder="Ad Soyad Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="PhoneNumber" placeholder="Telefon Numarası Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="Email" placeholder="Email Giriniz" class="form-control" />
        <br />
        <textarea asp-for="Note" placeholder="Not Giriniz" rows="5" class="form-control"></textarea>
        <br />
        <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.Destinations">
            <option value="">Tur Seçiniz</option>
        </select>
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>
