@model JadooTravel.Dtos.TestimonialDtos.GetTestimonialByIdDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h3>Referans Güncelle</h3>
    <form method="post">
        <input type="hidden" asp-for="TestimonialId" />
        <input type="text" asp-for="NameSurname" placeholder="İsim Soyisim Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="ImageUrl" placeholder="Fotoğraf URL Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="UserTitle" placeholder="Kullanıcı Başlığı" class="form-control" />
        <br />
        <textarea asp-for="Message" placeholder="Mesaj" class="form-control" rows="5" class="form-control"></textarea>
        <br />
        <button class="btn btn-primary">Güncelle</button>
    </form>
</div>