@model List<JadooTravel.Dtos.CategoryDtos.ResultCategoryDto>
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
  
    <h3>Kategori Listesi</h3>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>İkon Url</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td> <img src="@item.IconUrl" width="75" /></td>
                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory" class="btn btn-info">Yeni Kategori Ekle</a>
</div>