<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="~/Spike-Bootstrap-1.0.0/src/assets/images/logos/logo.svg" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">

                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/AdminDashboard/Index" aria-expanded="false">
                        <iconify-icon icon="solar:home-2-line-duotone"></iconify-icon>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Category/CategoryList" aria-expanded="false">
                        <iconify-icon icon="mdi:shape-outline"></iconify-icon>
                        <span class="hide-menu">Kategoriler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Destination/DestinationList" aria-expanded="false">
                        <iconify-icon icon="solar:map-point-line-duotone"></iconify-icon>
                        <span class="hide-menu">Rotalar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Feature/FeatureList" aria-expanded="false">
                        <iconify-icon icon="solar:star-line-duotone"></iconify-icon>
                        <span class="hide-menu">Öne Çıkanlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Reservation/ReservationList" aria-expanded="false">
                        <iconify-icon icon="solar:calendar-line-duotone"></iconify-icon>
                        <span class="hide-menu">Rezervasyonlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Testimonial/TestimonialList" aria-expanded="false">
                        <iconify-icon icon="solar:chat-dots-line-duotone"></iconify-icon>
                        <span class="hide-menu">Referanslar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/AdminDashboard/Logout" aria-expanded="false">
                        <iconify-icon icon="solar:logout-2-line-duotone"></iconify-icon>
                        <span class="hide-menu">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>