@model int

<div class="card-body p-4">
    <h5 class="card-title mb-10 fw-semibold">Toplam Tur Sayısı</h5>

    <div class="row align-items-center">
        <div class="col-7">
            <h4 class="fw-semibold mb-3">@Model tur</h4>
            <div class="d-flex align-items-center mb-2">
                <span class="me-1 rounded-circle bg-light-primary round-20 d-flex align-items-center justify-content-center">
                    <i class="ti ti-map-pin text-primary"></i>
                </span>
                <p class="mb-0 text-muted ms-2">Toplam aktif tur kaydı</p>
            </div>
        </div>
    </div>
</div>
